{{import GlintX from "example/components/glint-component"}}

<GlintComponent @inputs={{this.items}} as |item|>
  {{item.}}
</GlintComponent>


<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{#let (component "glint-component") as |Glint|}}
  <Glint ></Glint>
{{/let}}
<GlintComponent @inputs={{array "a" "b" "c" x=10}} as |item|>
  {{item.}}
</GlintComponent>

<GlintX @inputs={{array "a" "b" "c" x=10}} as |item|>
  {{item.}}
</GlintX>

<example::components::glint-component></example::components::glint-component>